# CONFIGURATION
ENVIRONMENT=  # DEVELOPMENT or PRODUCTION (affects cookie samesite)

# Application Settings
APP_NAME=
DEBUG=
API_V1_PREFIX=
CORS_ORIGINS=

# Database Settings (PostgreSQL)
DATABASE_URL=

# Security Settings
SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Redis Cache Settings
REDIS_URL=

# External API
GENIUS_ACCESS_TOKEN=

# Hugging Face Settings (untuk model deteksi emosi)
TOKEN_HF=
REPOSITORY_ID=

# Pakai API publik
REPOSITORY_ID=
