# General Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env*
!.env.example

# Testing and Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
*.log
app/dl/models/*.onnx
app/dl/models/*.bin
app/dl/models/*.pt
app/dl/models/*.pth

# Database
*.sqlite3
*.db

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V10
.Trashes
ehthumbs.db
Thumbs.db

# AI Agents
*rules.md

lme-emotion-detection/
